.social-icons a {
    margin-right: 10px; /* İkonlar arasında boşluk bırakır */
    text-decoration: none; /* Alt çizgi kaldırılır */
    color: black; /* Varsayılan ikon rengi */
    font-size: 24px; /* İkon boyutunu ayarlar */
    transition: color 0.3s; /* Geçiş efekti */
  }
  
  .social-icons a:hover {
    color: #007bff; /* Üzerine gelindiğinde ikonun rengini değiştirir */
  }